@page
@model FribergCarRentalsRazorPageEdition.Pages.Cars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Car Details
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Car.Make)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Car.Make)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Car.Model)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Car.Model)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Car.Year)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Car.Year)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Car.EngineType)
                </td>
                <td>
                    @{
                        switch (Model.Car.EngineType)
                        {
                            case 1:
                                <p>Petrol</p>
                                break;
                            case 2:
                                <p>Diesel</p>
                                break;
                            case 3:
                                <p>Electric</p>
                                break;
                            default:
                                break;
                        }
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Car.NoOfSeats)

                </td>
                <td>
                    @Html.DisplayFor(model => model.Car.NoOfSeats)

                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Car.Color)

                </td>
                <td>
                    @Html.DisplayFor(model => model.Car.Color)

                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <a asp-page="./Image" asp-route-ImageLink="@Model.Car.ImageLink">Picture</a>

                </td>
            </tr>
        </tbody>
    </table>
    

</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
