@page
@model FribergCarRentalsRazorPageEdition.Pages.Bookings.CreateModel

@{
    ViewData["Title"] = "Create";
    //string url = HttpContext.Request.Path;
    //TempData["url"] = url;

}

<h1>Boka @Model.Make @Model.Model</h1>

<hr />
<div class="row" style="display: @Model.BookingFormVisibility;">
    <div class="col-md-4">

        @Html.ValidationSummary()

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" value=@Model.UserEmail/>
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <p>@ViewData["user"]</p>
            <div class="form-group">
                <label asp-for="Booking.StartDate" class="control-label"></label>
                <input asp-for="Booking.StartDate" type="date" data-val="true" class="form-control" value=@Model.Date />
                <span asp-validation-for="Booking.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.StopDate" class="control-label"></label>
                <input asp-for="Booking.StopDate" type="date" data-val="true" class="form-control"  value=@Model.DateTomorrow />
                <span asp-validation-for="Booking.StopDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Book" class="btn btn-primary" />
                <input type="hidden" asp-for="Booking.CarId" value=@Model.Id/>
                <input type="hidden" asp-for="Booking.BookingDate" value=@Model.Date />
                <input type="hidden" asp-for="Booking.UserEmail" value=@Model.UserEmail />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Cars/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
