@page
@model FribergCarRentalsRazorPageEdition.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<h2>@TempData["message"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].UserEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].StopDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].CarId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].BookingDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Booking != null)
        {
            foreach (var item in Model.Booking)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StopDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CarId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingDate)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <h4>No bookings (are you logged in?)</h4>
        }

    </tbody>
</table>
