@page
@model FribergCarRentalsRazorPageEdition.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<h2>@TempData["message"]</h2>

@{
    @if (Model.Booking != null || @TempData["Booking"] != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Booking[0].ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Booking[0].UserEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Booking[0].StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Booking[0].StopDate)
                    </th>
                    <th>
                        Car Info
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Booking[0].BookingDate)
                    </th>
                    <th>
                        Admin
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Booking)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StopDate)
                    </td>
                    <td>
                        <a asp-page="./../Cars/Details" asp-route-id=@item.CarId>Details</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingDate)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id=@item.ID>Edit</a>
                        <a asp-page="./Delete" asp-route-id=@item.ID>Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4>No bookings (are you logged in?)</h4>
    }
}