@page
@model FribergCarRentalsRazorPageEdition.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<p>
    <a asp-page="Create">Create a new user</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].CustomerBookings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].IsAdmin)
            </th>
            <th colspan="3">
                Admin
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customer) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerBookings)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a>
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>